$primaryMainColor: #f6f8fa;
$secondaryMainColor: #fff;
$accentColor: #000;
$shadowColor: #d0d7de;
$doneColor: #008000;
$notDoneColor: #f00;
$buttonColor: #298e46;
$borderColor: #1b1f2319;
$disabledColor: #94d3a2;
$focusColor: #2ea44f66;
$hoverColor: #2c974b;
$blueColor: #0969da;
