@import "reset-css";

html {
  font-size: 62.5%;
}

/* stylelint-disable */
body,
html,
#__nuxt {
  width: 100vw;
  height: 100vh;
}

#__nuxt {
  display: flex;
  flex-direction: column;
}
/* stylelint-enable */

body {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  outline: none;
}

svg {
  width: 1em;
  height: 1em;
  color: currentcolor;
}

.main {
  display: flex;
  overflow: auto;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  font-size: 1.6rem;
}
